<div class="tg-button-container">
    <div class="tg-button-top">
        <div class="tg-button-top-left"></div>
        <div class="tg-button-top-border"></div>
        <div class="tg-button-top-right"></div>
    </div>
    <div class="tg-button-middle">
        <div class="tg-button-left-border"></div>
        <div class="tg-button-content">
            <button type="tgButton" ng-disabled="tgDisabled">
                {{ tgLabel }}
            </button>
        </div>
        <div class="tg-button-right-border"></div>
    </div>
    <div class="tg-button-bottom">
        <div class="tg-button-bottom-left"></div>
        <div class="tg-button-bottom-border"></div>
        <div class="tg-button-bottom-right"></div>
    </div>
</div>
