<ion-view>
    <ion-nav-buttons side="left">
        <button
            class="button button-clear"
            ng-disabled="{{!edit}}"
            ng-click="vm.cancel($event)">
            Cancel
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button
            class="button button-clear"
            ng-disabled="{{!edit}}"
            ng-click="vm.save($event)">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="paper-bg">
        <div class="item no-background no-border">
            <!-- TODO: portraits images must be 40x40  -->
            <div class="row">
                <div class="col col-33">
                    <tg-char-portrait tg-portrait-url="vm.character.avatar">
                    </tg-char-portrait>
                    <h2 ng-show="!edit">{{ vm.character.name }}</h2>
                </div>
                <div class="col">
                    <tg-text-input
                        tg-model="vm.character.name"
                        placeholder="Character Name">
                    </tg-text-input>
                    <div class="row tg-implement" style="font-size:20px;margin:5px 0;">
                        <div style="line-height:1em">Level</div>
                        <span class="tg-align-right">
                            <tg-number-input
                                class=""
                                ng-model="vm.character.level"
                                disabled="false"
                                ng-change=""
                                tg-apply="vm.levelChange()"
                                tg-max="vm.maxLevel"
                                tg-min="vm.minLevel"
                                tg-on-inc="vm.levelUp()"
                                tg-on-dec="vm.levelDown()">
                            </tg-number-input>
                        </span>
                    </div>
                    <div class="row tg-buggy">
                        <tg-health-bar
                            tg-hitpoints="vm.character.hitpoints"
                            tg-curr-hitpoints="vm.character.curr_hitpoints">
                        </tg-health-bar>
                    </div>
                </div>
            </div>
            <p ng-show="!vm.edit">
                {{ vm.character.race }}, Lvl {{ vm.character.lvl }}
            </p>
        </div>
        <p ng-show="vm.edit">
            <div class="row">
                <div class="col col-75">
                    <label class="item item-input item-select">
                        <div class="input-label">Race</div>
                        <select
                            ng-model="vm.character.race_id"
                            ng-change="vm.raceChanged()"
                            ng-options="vm.toInt(id) as race.name for (id, race) in vm.races">
                        </select>
                    </label>
                </div>
                <div class="col center-content">
                    <button
                        ng-disabled="null == vm.character.race_id"
                        class="button button-clear"
                        style="font-size:46px;color:#000"
                        ng-click="showModal('race')">
                        <img src="img/book3.png" class="book-button" />
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-75">
                    <label class="item item-input item-select">
                        <div class="input-label">Class</div>
                        <select
                            ng-change="vm.classChanged()"
                            ng-model="vm.character.theclasses[0]"
                            ng-options="vm.toInt(id) as aClass.name for (id, aClass) in vm.classes">
                        </select>
                    </label>
                    <!-- <tg-select-multiple
                        style="display:block;width:100%"
                        tg-label="Class"
                        tg-container="vm.character.theclasses"
                        tg-options="vm.classes"
                        tg-click="vm.classAdd()">
                    </tg-select-multiple> -->
                </div>
                <div class="col center-content">
                    <button
                        ng-disabled="0 == vm.character.theclasses.length"
                        class="button button-clear"
                        style="font-size:46px;color:#000"
                        ng-click="showModal('class')">
                        <img src="img/book3.png" class="book-button" />
                    </button>
                </div>
            </div>
            <div class="row tg-review">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Alignment (If any should show every possible alignment)
                        </div>
                        <select
                            ng-model="vm.character.alignment"
                            ng-disabled="0 == vm.character.theclasses.length"
                            ng-options="a for a in vm.alignments">
                        </select>
                    </label>
                </div>
            </div>
            <div class="row tg-implement">
                <div class="col col-75">
                    <label class="item item-input item-select">
                        <div class="input-label">Armor</div>
                        <select ng-model="vm.charEquipment.armorId" ng-change="vm.armorEquipChanged()">
                            <option disabled selected value="">Choose</option>
                            <option ng-repeat="(index, attrs) in vm.armors" value="{{ attrs.id }}">
                                {{ attrs.name }}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col center-content">
                    <button
                        ng-disabled="0 == vm.character.armor_id"
                        class="button button-clear"
                        style="font-size:46px;color:#000"
                        ng-click="vm.showModal('armor')">
                        <img src="img/book3.png" class="book-button" />
                    </button>
                </div>
            </div>
        </p>
        <span>
            {{ vm.armors[charEquipment.armor]['armor_shield_bonus'] }}
        </span>
        <div class="card" style="display:none">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">
                    Basic Info
                </h2>
            </div>
            <div style="cursor: pointer" class="item item-text-wrap">
                <div class="list">
                    <div class="item">
                        Type: {{ vm.race.type }}
                    </div>
                    <div class="item">
                        Size: {{ vm.race.size }}
                    </div>
                    <div class="item">
                        Land Speed: {{ vm.race.land_speed }}
                    </div>
                    <div class="item">
                        Hide: {{ vm.character.hide.total }}
                    </div>
                    <div class="item">
                        Skill Points: {{ vm.character.skillPoints.total }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col center-content">
                    <img src=img/sword.svg style="width:10px;height:10px" />
                    <span>Base Attack</span>
                    <br>
                    <span class="positive">
                        <span ng-repeat="i in [1,2,3,4]">
                            <span ng-show="undefined != vm.character.base_attack['base'+i]">
                                <span ng-show="i != 1">/</span>
                                {{ vm.character.base_attack['base'+i] }}
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col center-content tg-review"
                    style="cursor: pointer;"
                    ng-click="
                    vm.showSumPopover($event,'initiative','Initiative',undefined,'initiative')">
                    <img src=img/dice.svg style="width:10px;height:10px" />
                    <span>Initiative</span>
                    <span class="assertive">{{ vm.character.initiative.total }}</span>
                </div>
                <div class="col center-content tg-implement">
                    <img src=img/spell-shield.svg style="width:10px;height:10px" />
                    <span>Spell Res</span>
                    <span class="positive">{{ vm.character.spellResistance }}</span>
                </div>
            </div>
            <div class="row center-content">
                <div class="col center-content">
                    <h4>Size {{ vm.character.size_name }}</h4>
                </div>
            </div>
            <div class="row center-content tg-review">
                <div class="col" style="cursor: pointer"
                    ng-click="
                    vm.showSumPopover($event,'attack_bonus.grapple','Grapple',undefined,'attackBonus')">
                    <img src=img/grapple.svg style="width:10px;height:10px" />
                    <span>Grapple</span>
                    <br>
                    <span class="positive">
                        <span ng-repeat="i in [1,2,3,4]">
                            <span ng-show="undefined !== vm.character.attack_bonus.grapple['total'+i]">
                                <span ng-show="i != 1">/</span>
                                {{ vm.character.attack_bonus.grapple['total'+i] }}
                            </span>
                        </span>
                    </span>
                </div>

                <div class="col" style="cursor: pointer"
                    ng-click="
                    vm.showSumPopover($event,'attack_bonus.melee','Melee',undefined,'attackBonus')">
                    <img src=img/melee.svg style="width:10px;height:10px" />
                    <span>Melee</span>
                    <br>
                    <span class="positive">
                        <span ng-repeat="i in [1,2,3,4]">
                            <span ng-show="undefined !== vm.character.attack_bonus.melee['total'+i]">
                                <span ng-show="i != 1">/</span>
                                {{ vm.character.attack_bonus.melee['total'+i] }}
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col" style="cursor: pointer"
                    ng-click="
                    vm.showSumPopover($event,'attack_bonus.ranged','Ranged',undefined,'attackBonus')">
                    <img src=img/ranged.svg style="width:10px;height:10px" />
                    <span>Ranged</span>
                    <br>
                    <span class="positive">
                        <span ng-repeat="i in [1,2,3,4]">
                            <span ng-show="undefined !== vm.character.attack_bonus.ranged['total'+i]">
                                <span ng-show="i != 1">/</span>
                                {{ vm.character.attack_bonus.ranged['total'+i] }}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Stats Collapsible Card -->
        <div class="card no-padding no-margin tg-in-progress">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">
                    Stats
                    <a class="item-icon-right" style="cursor:pointer;" ng-click="vm.toggleCard('stat')">
                        <!-- <i class="icon ion-android-arrow-dropup" ng-show="!vm.isCardCollapsed('stat')"></i> -->
                        <i class="icon ion-android-arrow-dropdown" ng-show="vm.isCardCollapsed('stat')"></i>
                    </a>
                </h2>
            </div>
            <div style="cursor: pointer" ng-show="!vm.isCardCollapsed('stat')"
                class="item item-text-wrap no-padding item-collapsible">
                <!-- Strenght Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.strenght','Strenght','base','stat')">
                    <div class="col col-33">Strenght</div>
                    <div class="col col-33">Mod {{ vm.character.stats.strenghtMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.strenght.total }}</div>
                </div>
                <!-- End Strenght Stat -->
                <!-- Dexterity Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.dexterity','Dexterity','base','stat')">
                    <div class="col col-33">Dexterity</div>
                    <div class="col col-33">Mod {{ vm.character.stats.dexterityMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.dexterity.total }}</div>
                </div>
                <!-- End Dexterity Stat -->
                <!-- Constitution Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.constitution','Constitution','base','stat')">
                    <div class="col col-33">Constitution</div>
                    <div class="col col-33">Mod {{ vm.character.stats.constitutionMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.constitution.total }}</div>
                </div>
                <!-- End Constitution Stat -->
                <!-- Intelligence Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.intelligence','Intelligence','base','stat')">
                    <div class="col col-33">Int</div>
                    <div class="col col-33">Mod {{ vm.character.stats.intelligenceMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.intelligence.total }}</div>
                </div>
                <!-- End Intelligence Stat -->
                <!-- Wisdom Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.wisdom','Wisdom','base','stat')">
                    <div class="col col-33">Wisdom</div>
                    <div class="col col-33">Mod {{ vm.character.stats.wisdomMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.wisdom.total }}</div>
                </div>
                <!-- End Wisdom Stat -->
                <!-- Charisma Stat -->
                <div class="row" ng-show="vm.edit" ng-click="
                    vm.showSumPopover($event,'stats.charisma','Charisma','base','stat')">
                    <div class="col col-33">Charisma</div>
                    <div class="col col-33">Mod {{ vm.character.stats.charismaMod }}</div>
                    <div class="col col-33">Total {{ vm.character.stats.charisma.total }}</div>
                </div>
                <!-- End Charisma Stat -->
            </div>
        </div>
        <!-- end stats collapsible card -->
        <!-- Armor Class collapsible card -->
        <div class="card no-padding no-margin">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">
                    Armor Class
                    <a class="item-icon-right" style="cursor:pointer;" ng-click="vm.toggleCard('ac')">
                        <!-- <i class="icon ion-android-arrow-dropup" ng-show="!vm.isCardCollapsed('ac')"></i> -->
                        <i class="icon ion-android-arrow-dropdown" ng-show="vm.isCardCollapsed('ac')"></i>
                    </a>
                </h2>
            </div>
            <div class="item item-text-wrap no-padding item-collapsible"
                ng-show="!vm.isCardCollapsed('ac')">
                <!-- Full AC -->
                <div class="row tg-pointer" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'armor_class.full','Full Armor',undefined,'armor')">
                    <div class="col">Full AC</div>
                    <div class="col">{{ vm.character.armor_class.full.total }}</div>
                </div>
                <!-- End Full AC -->
                <!-- Touch AC -->
                <div class="row tg-pointer tg-implement" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'armor_class.touch','Touch Armor',undefined,'armor')">
                    <div class="col">Touch AC</div>
                    <div class="col">{{ vm.character.armor_class.touch.total }}</div>
                </div>
                <!-- END Touch AC -->
                <!-- Flat Footed AC -->
                <div class="row tg-pointer" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'armor_class.flatFooted','Flat Footed Armor',undefined,'armor')">
                    <div class="col">Flat Footed AC</div>
                    <div class="col">
                        {{ vm.character.armor_class.flatFooted.total }}
                    </div>
                </div>
                <!-- END Flat Footed AC -->
            </div>
        </div>
        <!-- End Armor Class collapsible card -->
        <!-- Savings collapsible card -->
        <div class="card no-padding no-margin">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">
                    Saving throws
                    <a class="item-icon-right" style="cursor:pointer;" ng-click="vm.toggleCard('saves')">
                        <!-- <i class="icon ion-android-arrow-dropup" ng-show="!vm.isCardCollapsed('saves')"></i> -->
                        <i class="icon ion-android-arrow-dropdown" ng-show="vm.isCardCollapsed('saves')"></i>
                    </a>
                </h2>
            </div>
            <div class="item item-text-wrap no-padding item-collapsible"
                ng-show="!vm.isCardCollapsed('saves')">
                <!-- Fortitude Savings -->
                <div class="row" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'savings.fortitude','Fortitude Saves',undefined,'saves')">
                    <div class="col">Fortitude</div>
                    <div class="col">{{ vm.character.savings.fortitude.total }}</div>
                </div>
                <!-- END Fortitude Savings -->
                <!-- Will Savings -->
                <div class="row" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'savings.will','Will Saves',undefined,'saves')">
                    <div class="col">Will</div>
                    <div class="col">{{ vm.character.savings.will.total }}</div>
                </div>
                <!-- END Will Savings -->
                <!-- Reflex Savings -->
                <div class="row" ng-show="edit" ng-click="
                    vm.showSumPopover($event,'savings.reflex','Reflects Saves',undefined,'saves')">
                    <div class="col">Reflects</div>
                    <div class="col">{{ vm.character.savings.reflex.total }}</div>
                </div>
                <!-- END Reflex Savings -->
            </div>
        </div>
    </ion-content>
</ion-view>
