<ion-view view-title="My Characters">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-href="#/playermain/character/edit/-1/sheet">
            Add
        </a>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <a ng-repeat="(id, char) in vm.characters"
            ng-click="vm.setCurrentCharacter(id)"
            ng-href="#/playermain/character/edit/{{ id }}/sheet"
            item-height="75"
            item-width="100%">
            <character-item
                character="char"
                theclass="vm.classes[char.theclasses[0]]"
                race="vm.races[char.race_id]">
            </character-item>
        </a>
    </ion-content>
</ion-view>
