        <div class="list card no-shadow no-background no-border">
            <div class="item item-avatar no-background no-border">
                <img src="" alt="" />
                <h2>{{ armor.name }}</h2>
                <p>
                    {{ armor.subcategory }},
                    {{ armor.family }},
                    {{ armor.cost }}
                </p>
            </div>
            <div class="item item-body no-background no-border">
                <p>
                    <strong>Armor Shield Bonus: </strong>
                    {{ armor.armor_shield_bonus }}
                    <br>
                    <strong>Armor Check Penalty: </strong>
                    {{ armor.armor_check_penalty }}
                    <br>
                    <strong>Weight: </strong>
                    {{ armor.weight }}
                    <br>
                    <strong>Critical: </strong>
                    {{ armor.critical }}
                    <br>
                    <strong>Damage M: </strong>
                    {{ armor.dmg_m }}
                    <br>
                    <strong>Damage S: </strong>
                    {{ armor.dmg_s }}
                    <br>
                    <strong>Arcane Spell Failure Chance: </strong>
                    {{ armor.arcane_spell_failure_chance }}
                    <br>
                    <strong>Max Dex Bonus: </strong>
                    {{ armor.maximum_dex_bonus }}
                    <br>
                    <strong>Speed 20: </strong>
                    {{ armor.speed_20 }}
                    <br>
                    <strong>Speed 30: </strong>
                    {{ armor.speed_30 }}
                    <br>
                    <strong>Range Increment: </strong>
                    {{ armor.range_increment }}
                    <br>
                    <strong>Type: </strong>
                    {{ armor.type }}
                    <br>
                    <strong>Reference: </strong>
                    {{ armor.reference }}
                </p>
                <p ng-show="0 < armor.full_text.length">
                    {{ armor.full_text }}
                </p>
            </div>
        </div>
