<div
    class="list card"
    ng-repeat="(level, levelData) in tgModalData.levelInfo.levelData">
    <a href="#" class="item item-icon-left">
        <div class="row">
            <div class="col">Hitpoints</div>
            <div class="col">{{ levelData.hit_die_result }}</div>
        </div>
        <div class="row">
            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="Level HP" ng-model="levelData.hit_die_result">
                <i class="icon ion-volume-high"></i>
            </div>
        </div>
    </a>

    <a href="#" class="item item-icon-left" ng-show="($index + 1) % 3 == 0">
        <i class="icon ion-ios7-telephone"></i>
        <div class="row">
            <div class="col">Feat</div>
            <div class="col">{{ levelData.choosen_feat }}</div>
        </div>
    </a>

    <a href="#" class="item item-icon-left" ng-show="($index + 1) % 4 == 0">
        <i class="icon ion-wifi"></i>
        <div class="row">
            <div class="col">Abilities</div>
            <div class="col">{{ levelData.choosen_stat }}</div>
        </div>
    </a>

    <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        <div class="row">
            <div class="col">Abilities Assigned</div>
            <div class="col">{{ levelData.choosen_abs }}</div>
        </div>
    </a>
</div>
