<div class="tg-text-input-container">
    <input
        ng-model="tgModel"
        name="{{ tgName }}"
        type="{{ tgType }}"
        value="{{ tgValue }}"
        class="tg-text-input"
        ng-minlength="tgMinlength"
        placeholder="{{ placeholder }}"
        required="tgRequired">
    <div class="tg-input-border-bottom"></div>
</div>
