<ion-view hide-nav-bar="true" class="main-screen">
    <div class="gm-button-container half-screen">
        <div class="relative blackout">
            <div class="sit bottom right padding">
                <a
                  ng-href="#/gmmain"
                  class="button button-block button-outline button-white">
                  GM
              </a>
              <p>
                  Master your own game.
              </p>
          </div>
        </div>
    </div>
    <div class="player-button-container half-screen">
        <div class="relative blackout">
            <div class="sit bottom right padding">
                <a
                  ng-href="#/playermain"
                  class="button button-block button-outline button-white">
                    PLAYER
                </a>
                <p>
                    Join your master's game.
                </p>
            </div>
        </div>
    </div>
</ion-view>
