<ion-view view-title="{{ vm.viewTitle }}">
    <ion-tabs class="tabs-clear">
        <ion-tab title="Main" icon-on="" icon-off=""
            ui-sref="playerMain.character.edit.sheet">
            <ion-nav-view name="sheet-tab">
            </ion-nav-view>
        </ion-tab>
        <ion-tab
            title="Skills"
            icon-on=""
            icon-off=""
            badge="4",
            badge-style="badge-calm"
            ui-sref="playerMain.character.edit.skills">
            <ion-nav-view name="skills-tab">
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Spells" icon-on="" icon-off="">
        </ion-tab>
        <ion-tab title="Feats" icon-on="" icon-off="">
        </ion-tab>
        <ion-tab title="Inventory" icon-on="" icon-off=""
            ui-sref="playerMain.character.edit.inventory">
            <ion-nav-view name="inventory-tab">
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
