<ion-view title="Inventory">
    <ion-nav-buttons side="left">
        <button
            class="button button-clear"
            ng-disabled="{{!edit}}"
            ng-click="vm.cancel($event)">
            Cancel
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button
            class="button button-clear"
            ng-disabled="{{!edit}}"
            ng-click="vm.save($event)">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="paper-bg">
        <div class="card">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">Items</h2>
            </div>
            <div class="tg-inventory leather-bg color-white padding no-border">
                <div class="row tg-inventory-item" ng-repeat="i in vm.items">
                    <div class="col">{{ i.name }}</div>
                    <div class="col">
                        <tg-number-input ng-model="i.quantity">
                        </tg-number-input>
                    </div>
                    <div class="col">
                        <button class="button-clear">Remove</button>
                    </div>
                    <div class="col">
                        {{ i.category }}
                    </div>
                </div>
                <div class="">
                    <button>Add Item</button>
                </div>
            </div>
        </div>
        <div class="card no-padding no-margin tg-in-progress">
            <div class="item item-divider bar tg-bar-sunk">
                <h2 class="tg-bar-title">Money</h2>
            </div>
            <div class="item item-text-wrap no-padding">
                <div class="row">
                    <div class="col">
                        {{ vm.inventory.gp }}
                        <img src="img/gold-coin.png" style="height:1em" />
                    </div>
                    <div class="col">
                        {{ vm.inventory.sp }}
                        <img src="img/silver-coin.png" style="height:1em" />
                    </div>
                    <div class="col">
                        {{ vm.inventory.bp }}
                        <img src="img/gold-coin.png" style="height:1em" />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
