<ion-popover-view>
    <ion-header-bar>
        <h1 class="title" style="text-transform:capitalize">
            {{sumPopoverData.title}}
        </h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div
                class="assertive roll-dice item min-padding"
                style="text-align:center"
                ng-show="edit && sumPopoverData.diceAttr"
                ng-click="rollDice(18, 'character.'+sumPopoverData.attrName +
                    '.' + sumPopoverData.diceAttr)"
                title="Roll d20 Dice">
                <img src=img/dice-twenty-faces.svg
                    style="width:32px;height:32px;margin:auto" />
            </div>
            <div
                class="item min-padding"
                ng-repeat="(attr, val) in sumPopoverData.statObj"
                ng-hide="attr == 'total'">
                <div class="row">
                    <div class="col">
                        <span style="text-transform:capitalize">
                            {{attr}}
                        </span>
                    </div>
                    <div class="col">
                        <tg-number-input
                            tg-spacing="10"
                            ng-model="sumPopoverData.statObj[attr]">
                        </tg-number-input>
                    </div>
                </div>
            </div>
            <div class="center-content" ng-click="sumPopoverData.close()">
                <tg-button tg-label="Ok!"></tg-button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>
