
<h2 class="center-content">Welcome to TinGM!</h2>
<h3 class="center-content">Please log in into your account!</h3>
<form name="authForm" novalidate="" ng-submit="login(authForm)">
    <div class="list list-inset no-background">
        <tg-text-input
            class="tg-login-input"
            tg-name="username"
            tg-model="user.username"
            tg-type="text"
            placeholder="Username"
            tg-minlength="3"
            tg-required="true">
        </tg-text-input>
        <div class="error-container"
            ng-show="authForm.username.$invalid && !authForm.username.$pristine">
            <div class="error" ng-message="required">
                <i class="ion-information-circled"></i>
                This field is required!
            </div>
        </div>
        <tg-text-input
            class="tg-login-input"
            tg-model="user.password"
            tg-name="password"
            placeholder="Password"
            tg-type="password"
            tg-minlength="3"
            tg-required="true">
        </tg-text-input>
        <div class="error-container"
            ng-show="authForm.password.$invalid && !authForm.password.$pristine">
            <div class="error" ng-message="required">
                <i class="ion-information-circled"></i>
                This field is required!
            </div>
        </div>
        <div class="center-content">
            <tg-button
                tg-label="Login"
                class="tg-login-button"
                tg-disabled="authForm.$invalid"
                tg-type="submit">
            </tg-button>
        </div>
    </div>
</form>
