<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-dark">
      <div class="buttons">
        <button
            class="button button-clear"
            ng-click="tgModalData.close()">
            Close
        </button>
      </div>
      <h1 class="title">{{ tgModalData.title }}</h1>
    </ion-header-bar>
    <ion-content class="padding paper-bg">
        <ng-include src="tgModalData.includeSrc"></ng-include>
    </ion-content>
</ion-modal-view>
