<!--
This widget expects an object on scope "tgPopup" containing a
- "message" attribute to show,
- a "buttonLabel" to show on its close button and a
- "close" attribute containing the function to execute on close.
 -->
<div class="">
    <div class="tg-popup-message center-content">
        {{ tgPopup.message }}
    </div>
    <div class="center-content">
        <tg-button
            tg-label="{{tgPopup.buttonLabel}}"
            ng-click="tgPopup.close()">
        </tg-button>
    </div>
</div>
