<label class="item item-input item-select">
    <div class="input-label">{{ tgLabel }}</div>
    <select ng-model="current" ng-change="addItem()">
        <option ng-repeat="(id, aClass) in tgOptions" value="{{id}}">
            {{ aClass.name }}
        </option>
    </select>
</label>
<label
    class="item item-input item-select"
    ng-show="0 < choosen.length">
    <div class="input-label">Remove {{ tgLabel }}</div>
    <select ng-model="toRemove" ng-change="removeItem()">
        <option
            ng-repeat="item in choosen"
            value="{{ $index }}">
            {{ item.name }}
        </option>
    </select>
</label>
