<ion-item class="item-thumbnail-left">
    <img ng-src="{{ character.avatar }}" />
    <h2>{{ character.name }}</h2>
    <h3>
        {{ race.name }},
        {{ theclass.name }},
        lvl {{ character.level}}
    </h3>
    <h5>{{ character.user_id }}</h5>
</ion-item>
