<ion-view>
    <ion-content scroll="true" class="paper-bg skills-content">
        <div class="item no-background no-border">
            <span class="item" ng-repeat="s in vm.skills">
                <div class="row center-content">
                    <div class="col">{{ s.name }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">Ability</div>
                        <div class="row">
                            <input
                                type="number"
                                ng-model="char.skills[s.name][ability]"
                                class="tg-iniline">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">Ranks</div>
                        <div class="row">
                            <input
                                type="number"
                                ng-model="char.skills[s.name][ability]"
                                class="tg-iniline">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">Bonus</div>
                        <div class="row">
                            <input
                                type="number"
                                ng-model="char.skills[s.name][ability]"
                                class="tg-iniline">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">Temp</div>
                        <div class="row">
                            <input
                                type="number"
                                ng-model="char.skills[s.name][ability]"
                                class="tg-iniline">
                        </div>
                    </div>
                </div>
            </span>
        </div>
        {{ vm }}
    </ion-content>
</ion-view>
