/* Empty. Add your own CSS if you like */

html, body, .button,
h1, h2, h3, h4, h5, h6, button {
    font-family: 'MedievalSharp', cursive;
}

a {
    text-decoration: none;
}

#home-content {
    /*background-image: url('../img/d20.jpg');*/
    background-position: center center;
    color: #fff;
}

#home-content h1 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
}

.tg-buggy {
    border: solid 1px brown;
}

.tg-implement {
    border: solid 1px red;
}

.tg-review {
    border: solid 1px yellow;
}

.tg-in-progress {
    border: solid 1px blue;
}

.tg-pointer {
    cursor: pointer;
}

.tg-inline {
    display: inline-block;
}

.main-screen {
    color: #fff;
}

.gm-button-container {
    background-image: url('../img/d20.jpg');
    background-position: bottom right;
    background-size: cover;
}

.player-button-container {
    background-image: url('../img/player-button.jpg');
    background-position: bottom right;
    background-size: cover;
}

.paper-bg {
    background-image: url('../img/paper.jpg');
    background-position: center;
    background-size: cover;
}

.leather-bg {
    background-image: url('../img/leather.jpg');
    background-position: center;
    background-size: cover;
}

.no-shadow {
    box-shadow: none !important;
}

.no-background {
    background: none transparent;
}

.no-border {
    border: none !important;
}

.half-screen {
    height: 50%;
}

.main-app-icon {
    height: 250px;
}

.padding {
    padding: 10px;
}

.button-white {
    color: #fff !important;
    border-color: #fff !important;
}

.blackout {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.relative {
    position: relative;
    height: 100%;
}

.sit {
    position: absolute;
    bottom: 0;
}

.sit.right {
    right: 0;
}

.sit.left {
    left: 0;
}

.bar-container {
    height: 15px;
    width: 100%;
    position: relative;
    background: #555;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.bar-container span.max {
    position: absolute;
    right: 5px;
    color: #fff;
    line-height: 130%;
    font-size: 12px;
    z-index: 20;
    display: inline-block;
}

.bar-container > span.bar {
    display: block;
    height: 80%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
        );
    box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    /*position: relative;
    overflow: hidden;*/
}

.bar-container.red > span.bar {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.reset-input {
    padding: 0;
    line-height: 1em !important;
    font-size: 1em !important;
    height: auto !important;
    vertical-align: inherit !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-min-height {
    min-height: 0 !important;
}

.no-fixed-height {
    height: auto !important;
}

.min-padding {
    padding: 5px;
}

.roll-dice {
    cursor: pointer;
}

.hand-pointer {
    cursor: pointer;
}

.item-collapsible {
    transition: 0.09s all linear;
}
.item-collapsible.ng-hide {
    line-height: 0px;
}

.two-digits-input {
    width: 2em !important;
}

.three-digits-input {
    width: 3em !important;
    margin: auto;
}

.center-content {
    text-align: center;
}

.tg-transparent, .tg-transparent * {
    background: none rgba(255,255,255, 0);
}

.translucent {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.nada {
    background: url('../img/general-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;*/
}

.tg-header {
    background-image: url('../img/header-bar-bg.png');
    background-size: 130% 100%;
    background-position-x: center !important;
}

.tg-header .title,
.tg-header .button,
.tg-header h2 {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

.tg-bar-sunk {
    background-image: url('../img/bar-bg-sunk.png');
    background-size: 130% 100%;
    background-position-x: center !important;
}

.tg-bar-sunk h2.tg-bar-title {
    font-size:1.3em;
    line-height: 1.7em;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

.color-white {
    color: white;
}

.book-button {
    height: 48px;
}

.tg-align-right {
    text-align: right;
    width: 100%;
}

/* TG Button */
tg-button {
    display: inline-block;
    min-height: 22px;
    min-width: 22px;
    cursor: pointer;
}
.tg-button-container {
    display: table;
    min-height: 22px;
    min-width: 22px;
}

.tg-button-top,
.tg-button-middle,
.tg-button-bottom {
    display: table-row;
}

.tg-button-top > *,
.tg-button-middle > *,
.tg-button-bottom > * {
    display: table-cell;
}

.tg-button-top-left,
.tg-button-top-right,
.tg-button-bottom-left,
.tg-button-bottom-right {
    height: 7px;
    min-width: 7px;
}

.tg-button-top-left {
    background: url('../img/tg-btn-corner-top-left.png') transparent no-repeat;
}
.tg-button-top-right {
    background: url('../img/tg-btn-corner-top-right.png') transparent no-repeat;
}
.tg-button-bottom-right {
    background: url('../img/tg-btn-corner-bottom-right.png') transparent no-repeat;
}
.tg-button-bottom-left {
    background: url('../img/tg-btn-corner-bottom-left.png') transparent no-repeat;
}

.tg-button-left-border,
.tg-button-top-border,
.tg-button-right-border,
.tg-button-left-border {
    min-height: 7px;
}

.tg-button-top-border {
    background: url('../img/tg-btn-top-border.png') transparent repeat-x;
}
.tg-button-right-border {
    background: url('../img/tg-btn-right-border.png') transparent repeat-y;
}
.tg-button-bottom-border {
    background: url('../img/tg-btn-bottom-border.png') transparent repeat-x;
}
.tg-button-left-border {
    background: url('../img/tg-btn-left-border.png') transparent repeat-y;
}

.tg-button-content {
    padding: 0 10px;
}
/* END TG Button */

/* TG Health Bar */
tg-health-bar {
    display: block;
    width: 100%;
    white-space:normal;
}

tg-health-bar * {
    white-space:normal;
}

.tg-health-bar-container {
    width: 100%;
    white-space:normal;
}

.tg-health-bar-left,
.tg-health-bar-right,
.tg-health-bar-filled,
.tg-health-bar-empty {
    display: inline-block;
    white-space:normal;
}

.tg-health-bar-left img,
.tg-health-bar-right img {
    height: 30px;

}

.tg-health-bar-filled,
.tg-health-bar-empty {
    margin-left: -5px;
    margin-top: -2px;
    height: 28px;
    width: 150px;
    background: url('../img/health-filled.png') transparent repeat-x center;
}

.tg-health-bar-right {
    margin-left: -5px;
}
/* END TG Health Bar */

/* TG Text Input */
.tg-text-input-container {
    display: block;
}

.tg-text-input-container input {
    border: none;
}

.tg-text-input {
    background: none transparent;
    font-family: 'MedievalSharp', cursive;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: auto !important;
    font-size: 20px !important;
    line-height: 1em !important;
}
.tg-text-input::-webkit-input-placeholder {
   color: #666;
}

.tg-text-input:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

.tg-text-input::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}

.tg-text-input:-ms-input-placeholder {
   color: #666;
}

.tg-input-border-bottom {
    display: block;
    background: url('../img/tg-btn-bottom-border.png') transparent repeat-x;
    height: 10px;
    width: 100%;
}
/* END TG Text Input */

/* Login Modal */
.tg-login-button button {
    background: none transparent;
    border: none;
}

.tg-login-input {
    display: block;
    margin: 30px 0;
}
/* END Login Modal */


/* ionicPopup */
button {
    background: none transparent;
    border: none;
}

.popup {
    background-image: url('../img/paper.jpg');
    background-position: center;
    background-size: cover;
    border: solid 1px #555;
}

.popup-head {
    border: none;
}
/* END ionicPopup */

/* TG Number Input */
.tg-number-input-apply {
    display: inline-block;
}
/* END TG Number Input */

/* Skills View */
.skills-content input[type="number"] {
    width: 3em !important;
}
/* END Skills View */

/* Inventory View */
.tg-inventory {

}

.tg-inventory-item {

}
/* END Inventory View */
